@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.box {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    cursor:grab;
}